
<div class="container p-4">
  <div class="columns is-centered">
    <div class="column is-three-quarters-desktop is-full-mobile">
<h1 class="title">Lista de Usuarios</h1>
<div class="table-container">
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Tipo</th>
        <th>Teléfono</th>
        <th>Cambiar rol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.startingRole }}</td>        
        <td>{{ usuario.telefono }}</td>
        <td>
            <div class="field has-addons">
                <div class="control">
                  <div class="select">
                    <select [(ngModel)]="usuario.role" [disabled]="usuario.email === emailUsuario">
                      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                    </select>
                  </div>
                </div>
                <div class="control">
                    <button 
                    class="button is-primary" 
                    (click)="updateRole(usuario.id, usuario.role)"
                    [disabled]="usuario.email === emailUsuario || usuario.role === usuario.startingRole">
                    Actualizar Rol
                  </button>
                </div>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</div>

<!-- Modal de éxito -->
<div class="modal" [ngClass]="{'is-active': showSuccessModal}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Éxito</p>
      <button class="delete" aria-label="close" (click)="closeSuccessModal()"></button>
    </header>
    <section class="modal-card-body">
      <p>El rol del usuario ha sido actualizado correctamente.</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="closeSuccessModal()">Cerrar</button>
    </footer>
  </div>
</div>

<!-- Modal de error -->
<div class="modal" [ngClass]="{'is-active': showErrorModal}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Error</p>
      <button class="delete" aria-label="close" (click)="closeErrorModal()"></button>
    </header>
    <section class="modal-card-body">
      <p> Ha ocurrido un error al actualizar el rol del usuario.</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" (click)="closeErrorModal()">Cerrar</button>
    </footer>
  </div>
</div>
