<div class="container">
  <form [formGroup]="ordenForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label" for="fecha">Fecha</label>
      <div class="control">
        <input id="fecha" formControlName="fecha" type="date" class="input" />
      </div>
      <p class="help is-danger" *ngIf="ordenForm.get('fecha')?.invalid && ordenForm.get('fecha')?.touched">
        Fecha es requerida.
      </p>
    </div>
    <div formArrayName="productos" class="columns is-multiline">
      <div class="column is-one-quarter" *ngFor="let producto of productosFormArray.controls; let i = index" [formGroupName]="i">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img [src]="productos[i].imagen" alt="{{ productos[i].nombre }}">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ productos[i].nombre }}</p>
                <p class="subtitle is-6">{{ productos[i].descripcion }}</p>
              </div>
            </div>
            <div class="content">
              <p>Precio: {{ productos[i].precio | currency }}</p>
              <div class="field">
                <label class="label">Cantidad</label>
                <div class="control">
                  <input class="input" type="number" formControlName="cantidad">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-primary" type="submit">Crear Orden</button>
      </div>
    </div>
  </form>
</div>


