.btn-remove {
    background-color: #f44336; /* Color rojo */
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn-remove:hover {
    background-color: #d32f2f; /* Color rojo más oscuro al pasar el mouse */
  }
  
  .btn-add {
    background-color: #4caf50; /* Color verde */
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn-add:hover {
    background-color: #388e3c; /* Color verde más oscuro al pasar el mouse */
  }
  
  .cantidad-unidad-container {
    display: flex;
    align-items: center;
  }
  
  .cantidad-unidad-container input {
    margin-right: 8px; /* Ajusta el espacio entre el input y el div según sea necesario */
  }
  