<div class="container p-4">
<div class="columns mt-4 is-centered">
    <div class="column is-half-desktop is-full-mobile">
      <h1 class="title is-3 has-text-centered">Editar Insumo</h1>
  
      <form [formGroup]="insumoForm" (ngSubmit)="onSubmit()" class="box">
        <div class="field">
          <label for="nombre" class="label">Nombre</label>
          <div class="control">
            <input id="nombre" formControlName="nombre" class="input" type="text" placeholder="Nombre del insumo" />
          </div>
          <p class="help is-danger" *ngIf="insumoForm.get('nombre')?.invalid && insumoForm.get('nombre')?.touched">
            <span *ngIf="insumoForm.get('nombre')?.errors?.['required']">El nombre es requerido.</span>
            <span *ngIf="insumoForm.get('nombre')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</span>
            <span *ngIf="insumoForm.get('nombre')?.errors?.['maxlength']">El nombre no puede exceder 30 caracteres.</span>
            <span *ngIf="insumoForm.get('nombre')?.errors?.['uniqueName']">Este nombre ya está en uso.</span>
          </p>
        </div>
  
        <div class="field">
          <label for="unidad" class="label">Unidad</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select id="unidad" formControlName="unidad">
                <option *ngFor="let unidad of unidades" [value]="unidad">{{ unidad }}</option>
              </select>
            </div>
          </div>
          <p class="help is-danger" *ngIf="insumoForm.get('unidad')?.invalid && insumoForm.get('unidad')?.touched">
            <span *ngIf="insumoForm.get('unidad')?.errors?.['required']">La unidad es requerida.</span>
          </p>
        </div>
  
        <div class="field">
          <div class="control buttons is-centered">
            <button type="submit" class="button is-primary" [disabled]="insumoForm.invalid">Actualizar Insumo</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  
  <!-- Modal de éxito -->
<div class="modal" [ngClass]="{'is-active': showSuccessModal}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head has-text-centered">
      <p class="modal-card-title">Éxito</p>
      <button class="delete" aria-label="close" (click)="closeSuccessModal()"></button>
    </header>
    <section class="modal-card-body has-text-centered">
      <p>El insumo ha sido editado correctamente.</p>
    </section>
    <footer class="modal-card-foot buttons is-centered">
      <button class="button is-success" (click)="closeSuccessModal()">Cerrar</button>
    </footer>
  </div>
</div>

<!-- Modal de error -->
<div class="modal" [ngClass]="{'is-active': showErrorModal}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head has-text-centered">
      <p class="modal-card-title">Error</p>
      <button class="delete" aria-label="close" (click)="closeErrorModal()"></button>
    </header>
    <section class="modal-card-body has-text-centered">
      <p>Hubo un error al editar el insumo. Por favor, inténtelo de nuevo.</p>
    </section>
    <footer class="modal-card-foot buttons is-centered">
      <button class="button is-danger" (click)="closeErrorModal()">Cerrar</button>
    </footer>
  </div>
</div>
