<div class="container p-4">
<div class="columns is-centered">
  <div class="column is-half-desktop is-full-mobile">
    <h1 class="title is-3 has-text-centered">Editar Producto</h1>

    <form [formGroup]="productoForm" (ngSubmit)="onSubmit()" class="box">
      <div class="field">
        <label for="nombre" class="label">Nombre</label>
        <div class="control">
          <input id="nombre" formControlName="nombre" class="input" type="text" placeholder="Nombre del producto" />
        </div>
        <p class="help is-danger" *ngIf="productoForm.get('nombre')?.invalid && productoForm.get('nombre')?.touched">
          <span *ngIf="productoForm.get('nombre')?.errors?.['required']">El nombre es requerido.</span>
          <span *ngIf="productoForm.get('nombre')?.errors?.['minlength']">El nombre debe tener al menos 5 caracteres.</span>
          <span *ngIf="productoForm.get('nombre')?.errors?.['maxlength']">El nombre no puede exceder 30 caracteres.</span>
          <span *ngIf="productoForm.get('nombre')?.errors?.['uniqueName']">Este nombre ya está en uso.</span>
        </p>
      </div>

      <div class="field">
        <label for="descripcion" class="label">Descripción</label>
        <div class="control">
          <input id="descripcion" formControlName="descripcion" class="input" type="text" placeholder="Descripción del producto" />
        </div>
        <p class="help is-danger" *ngIf="productoForm.get('descripcion')?.invalid && productoForm.get('descripcion')?.touched">
          <span *ngIf="productoForm.get('descripcion')?.errors?.['required']">La descripción es requerida.</span>
          <span *ngIf="productoForm.get('descripcion')?.errors?.['minlength']">La descripción debe tener al menos 10 caracteres.</span>
          <span *ngIf="productoForm.get('descripcion')?.errors?.['maxlength']">La descripción no puede exceder 150 caracteres.</span>
        </p>
      </div>

      <div class="field">
        <label for="imagen" class="label">Imagen</label>
        <div class="control">
          <input id="imagen" type="file" (change)="onFileSelected($event)" />
        </div>
        <p class="help is-danger" *ngIf="productoForm.get('imagen')?.invalid && productoForm.get('imagen')?.touched">La imagen es requerida.</p>
      </div>

      <div class="field">
        <label for="precio" class="label">Precio</label>
        <div class="control">
          <input id="precio" formControlName="precio" class="input" type="number" placeholder="Precio del producto" />
        </div>
        <p class="help is-danger" *ngIf="productoForm.get('precio')?.invalid && productoForm.get('precio')?.touched">El precio es requerido y debe ser un valor positivo.</p>
      </div>

      <!-- Insumos del producto -->
      <div formArrayName="insumos">
        <div *ngFor="let insumo of insumosControls; let i = index" [formGroupName]="i" class="box">
          <div class="field">
            <label class="label">Insumo:</label>
            <div class="control">
              <div>{{ getInsumoNombre(insumo.get('insumoId')?.value) }}</div>
            </div>
          </div>
          <div class="field">
            <label class="label">Cantidad:</label>
            <div class="control is-flex is-align-items-center">
              <input formControlName="cantidad" class="input" type="number" placeholder="Cantidad del insumo" />
              <div class="ml-2">{{ getInsumoUnidad(insumo.get('insumoId')?.value) }}</div>
            </div>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <button type="button" (click)="removeInsumo(i)" class="button is-danger is-small">Eliminar Insumo</button>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Añadir Insumo:</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select #insumoSelect>
              <option *ngFor="let insumo of availableInsumos" [value]="insumo.id">{{ insumo.nombre }}</option>
            </select>
          </div>
        </div>
        <div class="buttons is-centered mt-2">
          <button type="button" (click)="addInsumo(+insumoSelect.value)" class="button is-info btn-add">Añadir Insumo</button>
        </div>
      </div>

      <div class="field">
        <div class="control buttons is-centered">
          <button type="submit" class="button is-primary" [disabled]="productoForm.invalid">Actualizar Producto</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>


<!-- Modal de éxito -->
<div class="modal" [ngClass]="{'is-active': showSuccessModal}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head has-text-centered">
      <p class="modal-card-title">Éxito</p>
      <button class="delete" aria-label="close" (click)="closeSuccessModal()"></button>
    </header>
    <section class="modal-card-body has-text-centered">
      <p>El producto ha sido actualizado correctamente.</p>
    </section>
    <footer class="modal-card-foot buttons is-centered">
      <button class="button is-success" (click)="closeSuccessModal()">Cerrar</button>
    </footer>
  </div>
</div>

<!-- Modal de error -->
<div class="modal" [ngClass]="{'is-active': showErrorModal}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head has-text-centered">
      <p class="modal-card-title">Error</p>
      <button class="delete" aria-label="close" (click)="closeErrorModal()"></button>
    </header>
    <section class="modal-card-body has-text-centered">
      <p>Hubo un error al actualizar el producto. Por favor, inténtelo de nuevo.</p>
    </section>
    <footer class="modal-card-foot buttons is-centered">
      <button class="button is-danger" (click)="closeErrorModal()">Cerrar</button>
    </footer>
  </div>
</div>