<!-- Campo de búsqueda -->
<div class="panel">
  <p class="panel-heading mt-5">Productos</p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input 
        class="input" 
        type="text" 
        placeholder="Buscar producto..." 
        [(ngModel)]="searchTerm" 
        (input)="filterProductos()"
      />
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <!-- Selector de orden -->
  <div class="panel-block">
    <div class="field is-grouped">
      <label class="label pt-2">Ordenar por:</label>
      <div class="control">
        <div class="select">
          <select (change)="onSortOptionChange($event)">
            <option value="none">Defecto</option>
            <option value="asc">Precio: Menor a Mayor</option>
            <option value="desc">Precio: Mayor a Menor</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-container">
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th>Insumos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of paginatedProductos">
        <td>{{ producto?.id }}</td>
        <td>{{ producto?.nombre }}</td>
        <td>{{ producto?.descripcion }}</td>
        <td><img [src]="producto?.imagen" alt="Imagen de {{ producto?.nombre }}" style="max-width: 100px;"></td>
        <td>{{ producto?.precio | currency }}</td>
        <td>
          <ul>
            <li *ngFor="let insumo of producto?.insumos">
              {{ insumo.insumo.nombre }}: {{ insumo.cantidad }} {{ insumo.insumo.unidad }}
            </li>
          </ul>
        <td>
          <a [routerLink]="['/productos/update', producto?.id]" class="button is-info">Editar</a>
          <button (click)="deleteProducto(producto?.id!)" class="button is-danger">Eliminar</button>
      </tr>
    </tbody>
  </table>
</div>

<nav class="pagination" role="navigation" aria-label="pagination">
  <a class="pagination-previous" (click)="goToPage(currentPage - 1)" [class.is-disabled]="currentPage === 1">Anterior</a>
  <a class="pagination-next" (click)="goToPage(currentPage + 1)" [class.is-disabled]="currentPage === totalPages">Siguiente</a>
  <ul class="pagination-list">
    <li *ngFor="let page of [].constructor(totalPages); let i = index">
      <a
        href="#"
        class="pagination-link"
        [class.is-current]="i + 1 === currentPage"
        (click)="onPageNumberClick($event, i + 1)"
      >{{ i + 1 }}</a>
    </li>
  </ul>
</nav>