<section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half-desktop">
          <h1 class="title">Registro de Usuario</h1>
          <div class="box">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" type="email" formControlName="email" placeholder="Ingrese su email">
                </div>
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="help is-danger">
                  <div *ngIf="registerForm.get('email')?.errors?.['required']">Email es requerido.</div>
                  <div *ngIf="registerForm.get('email')?.errors?.['email']">Email no es válido.</div>
                  <div *ngIf="registerForm.get('email')?.errors?.['maxlength']">Email no puede exceder los 30 caracteres.</div>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input class="input" type="password" formControlName="password" placeholder="Ingrese su contraseña">
                </div>
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="help is-danger">
                  <div *ngIf="registerForm.get('password')?.errors?.['required']">Password es requerido.</div>
                  <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password debe tener al menos 7 caracteres.</div>
                  <div *ngIf="registerForm.get('password')?.errors?.['maxlength']">Password no puede exceder los 20 caracteres.</div>
                </div>
              </div>
              <div class="field">
                <label class="label">Teléfono</label>
                <div class="control">
                  <input class="input" type="tel" formControlName="telefono" placeholder="Ingrese su teléfono">
                </div>
                <div *ngIf="registerForm.get('telefono')?.invalid && registerForm.get('telefono')?.touched" class="help is-danger">
                  <div *ngIf="registerForm.get('telefono')?.errors?.['required']">Teléfono es requerido.</div>
                  <div *ngIf="registerForm.get('telefono')?.errors?.['pattern']">Teléfono debe contener solo números.</div>
                  <div *ngIf="registerForm.get('telefono')?.errors?.['minlength']">Teléfono debe tener al menos 8 caracteres.</div>
                  <div *ngIf="registerForm.get('telefono')?.errors?.['maxlength']">Teléfono no puede exceder los 12 caracteres.</div>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" type="submit" [disabled]="registerForm.invalid">Registrar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Modal de error -->
  <div class="modal" [ngClass]="{'is-active': showModal}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Error</p>
        <button class="delete" aria-label="close" (click)="closeModal()"></button>
      </header>
      <section class="modal-card-body">
        <p>{{ errorMessage }}</p>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary" (click)="closeModal()">Cerrar</button>
      </footer>
    </div>
  </div>

  <!-- Modal de exito -->
  <div class="modal" [ngClass]="{'is-active': showSuccess}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Registrado!</p>
        <button class="delete" aria-label="close" (click)="closeSuccess()"></button>
      </header>
      <section class="modal-card-body">
        <p>Usuario registrado con éxito.</p>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary" (click)="closeSuccess()">Cerrar</button>
      </footer>
    </div>
  </div>
  